<div *ngIf="channel" id="chat">
  <div class="channel-header">
    <div id="channel-info">
      <h2>{{ channel.name }}: {{ channel.description }}</h2> 
    </div>

    <div id="search">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="Search" type="text">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    
  <!-- <hr> -->
  </div>

  
  <div id="message-window" *ngIf="messages">
      <!-- {{ messages }}
      {{ messages[channel._id] }} -->
    <ul>
      <li *ngFor="let message_ of messages[channel._id]">
        {{ message_.user_name }} - {{ message_.timestamp }}: {{ message_.content }}
      </li>
    </ul>
  </div>

  <div id="message-input">
    <form class="form-inline my-2 my-lg-0">    
      <input id="message-input-box" class="form-control" name="message" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()"/>
      <button id="message-input-send" class="btn btn-info" (click)="sendMessage()">Send</button>
    </form>
  </div>
</div>