<!-- Grid documentation: https://www.w3schools.com/bootstrap/bootstrap_grid_system.asp -->

<div class="container">
    <div class="jumbotron text-center">
          <h1>Field-Slack</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ad, nobis dolorum dolorem magni qui, numquam minus distinctio recusandae eius mollitia soluta, maiores ipsum? Maiores cupiditate soluta temporibus natus dolore.
          </p>
        <br>
        <div class="text-left">
          <app-landing-login></app-landing-login>
        </div>
    </div>
</div>

  

<div class="row">
  <div class="col-md-4">
    <h3>Function 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ad, nobis dolorum dolorem magni qui,numquam minus distinctio recusandae eius mollitia soluta, maiores ipsum? Maiores cupiditate soluta temporibus natus dolore.
    </p>
  </div>

  <div class="col-md-4">
    <h3>Function 2</h3>
    <p>
      To generate components, services, consectetur adipisicing elit. Blanditiis ad, nobis dolorum dolorem magni qui,numquam minus distinctio recusandae eius mollitia soluta, maiores ipsum? Maiores cupiditate soluta temporibus natus dolore.
    </p>
  </div>

  <div class="col-md-4">
    <h3>Function 3</h3>
    <p>
      Full featured authentication using JSON web tokens. Used for logins and to store user data. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ad, nobis dolorum dolorem magni qui,numquam minus distinctio recusandae eius mollitia soluta, maiores ipsum? Maiores cupiditate soluta temporibus natus dolore.
    </p>
  </div>
</div>