i {
    margin-right: 0.5em;
}

#channel-list {
    margin-bottom: 10px;
}

#channel-list li {
    display: grid;
    grid-template-columns: 6fr, 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.2em;
    padding: .6em;
    margin: .2em;
}

#channel-list li:nth-child(even) {
    background-color: rgb(101, 97, 105);
}

.channel-info {
    margin: 0px;
    grid-column: 1;

    display: flex;
    
    align-items: center;

    overflow: hidden;
    text-overflow: ellipsis;
    
}

#edit-form {
    grid-row: 1;
}

/* https://stackoverflow.com/questions/44207311/how-to-use-grid-row-align-and-grid-column-align */
.channel-buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0px;
    grid-column: 2;
}
