<!-- Router link documentation: https://angular.io/api/router/RouterLinkActive -->

<!doctype html>
<html lang="en">
  <body *ngIf="this.authService.loggedIn()">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Field-Slack</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" *ngIf="!authService.loggedIn()" [routerLink]="['/register']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="authService.loggedIn()" [routerLink]="['/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="!authService.loggedIn()"  [routerLink]="['/login']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="authService.loggedIn()"  (click)="onLogoutClick()">Logout</a>
          </li>
        </ul>
      </div>

    </nav>

    <!-- <br> -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- CDN Links for jQuery, popper, and bootstrap from BS4 website -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script> -->
  </body>
</html>
