<!-- Grid documentation: https://www.w3schools.com/bootstrap/bootstrap_grid_system.asp -->

<div class="jumbotron text-center">
  <h1>MEAN Authentication App</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ad, nobis dolorum dolorem magni qui, numquam minus distinctio recusandae eius mollitia soluta, maiores ipsum? Maiores cupiditate soluta temporibus natus dolore.
  </p>
  <div>
    <a class="btn btn-primary" routerLink="/register">Register</a>
    <a class="btn btn-info" routerLink="/login">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ad, nobis dolorum dolorem magni qui,numquam minus distinctio recusandae eius mollitia soluta, maiores ipsum? Maiores cupiditate soluta temporibus natus dolore.
    </p>
  </div>

  <div class="col-md-4">
    <h3>Angular CLI</h3>
    <p>
      To generate components, services, consectetur adipisicing elit. Blanditiis ad, nobis dolorum dolorem magni qui,numquam minus distinctio recusandae eius mollitia soluta, maiores ipsum? Maiores cupiditate soluta temporibus natus dolore.
    </p>
  </div>

  <div class="col-md-4">
    <h3>JSON Web Tokens (JWT)</h3>
    <p>
      Full featured authentication using JSON web tokens. Used for logins and to store user data. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ad, nobis dolorum dolorem magni qui,numquam minus distinctio recusandae eius mollitia soluta, maiores ipsum? Maiores cupiditate soluta temporibus natus dolore.
    </p>
  </div>
</div>